<section>
  <div class="container">
    <div class="row">
      <div>
        <div class="well">
          <h1 class="brand">Progress<span>Visualizer</span></h1>
          <p>This is a pet project to provide visual reporting for progress against goals - starting with my development team's progress in <%= link_to "Trello", "http://www.trello.com/", target: "_blank" %> &mdash; <%= link_to "Ken Judy", "http://judykat.com/ken-judy" %>.</p>
          <p><%= link_to "See an Example", charts_burn_up_path, class: "btn btn-primary btn-lg" %> </p>
        </div>
        <%= image_tag "fireworks.jpg", class: "img-responsive", style: "width: 100%" %>
      </div>
    </div>
  </div>
</sections>