Hi <% @user.name %>,

<a href="http://www.progress-visualizer.com">Progress Visualizer</a> received a password reset request for your account.

Your password has been reset to: <%= @random_password %>

- Ken