<section>
  <div class="container">
    <div class="row">
      <div class="content">
        <%= image_tag "fireworks.jpg", alt: "Thank you!", width: "100%" %>
      </div>
    </div>
  </div>
</section>