<% if @uses_estimates %>
  <div class="row">
    <div id='yesterdays_weather_estimate_chart' class='chart'></div>
    <%= render_chart(@yesterdays_weather_estimate_chart, 'yesterdays_weather_estimate_chart') %>
  </div>
<% end %>
<div class="row">
  <div id='yesterdays_weather_stories_chart' class='chart'></div>
  <%= render_chart(@yesterdays_weather_stories_chart, 'yesterdays_weather_stories_chart') %>
</div>
