<% content_for :head do %>
  <meta http-equiv="refresh" content="1800">
<% end %>

<section>
  <div class="container">
    <div class="row">
      <div id='estimates_chart' class='chart'></div>
      <%= render_chart(@estimates_chart, 'estimates_chart') %>
    </div>
    <div class="row">
      <div id='stories_chart' class='chart'></div>
      <%= render_chart(@stories_chart, 'stories_chart') %>
    </div>
  </div>
</section>