<% content_for :head do %>
  <meta http-equiv="refresh" content="900">
<% end %>

<section>
  <div class="container">
    <div class="row">
      <%= render 'application/pagination', 
        prior_iteration: @prior_iteration,
        prior_path: charts_burn_up_path(iteration: @prior_iteration), 
        next_iteration: @next_iteration,
        next_path: charts_burn_up_path(iteration: @next_iteration)
      %>
    </div>
    <% if @uses_estimates %>
    <div class="row">
      <div id='estimates_chart' class='chart'></div>
      <%= render_chart(@estimates_chart, 'estimates_chart') %>
    </div>
    <% end %>
    <div class="row">
      <div id='stories_chart' class='chart'></div>
      <%= render_chart(@stories_chart, 'stories_chart') %>
    </div>
  </div>
</section>

<% unless @iteration %>
  <script type="text/javascript" charset="utf-8">
    window.tickUpdate();
  </script>
<% end %>