<% profiles = user_profile.user.user_profiles %>
<section>
  <div class="container">
    <div class="col-md-6">
      <%= render "date_pills", first_iteration: @first_iteration, default_weeks: 3, path: :charts_yesterdays_weather_path %>
    </div>
    <%= render "yesterdays_weather_charts", estimate_chart: @yesterdays_weather_estimate_chart, stories_chart: @yesterdays_weather_stories_chart, uses_estimates: @uses_estimates %>
  </div>
</section>