<section>
  <div class="container">
    <div class="row">
      <div id='yesterdays_weather_chart_estimate_chart' class='chart'></div>
      <%= render_chart(@yesterdays_weather_chart_estimate_chart, 'yesterdays_weather_chart_estimate_chart') %>
    </div>
    <div class="row">
      <div id='yesterdays_weather_chart_stories_chart' class='chart'></div>
      <%= render_chart(@yesterdays_weather_chart_stories_chart, 'yesterdays_weather_chart_stories_chart') %>
    </div>
  </div>
</section>