<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Destroyed</h2>
        <p><%= link_to "Back", :back %></p>
      </div>
    </div>
  </div>
</section>
