<section>
  <div class="container">
    <div class="row">
      <%= render 'application/pagination', 
        prior_iteration: @prior_iteration,
        prior_path: tables_done_stories_path(iteration: @prior_iteration), 
        next_iteration: @next_iteration,
        next_path: tables_done_stories_path(iteration: @next_iteration)
      %>
    </div>
    <div class="row">
      <%= render "stories_table", label: "Completed work ", export_path: tables_done_stories_path(format: :csv), results: @collated_results %>
    </div>
  </div>
</section>