<section>
  <div class="container">
    <div class="row">
      <%= render "card_detail", card: @card %>
      <hr>
      <%= render "timeline_chart", activity: @activity, default_options: @default_options %>
      <hr>
      <%= render "annotated_activity_chart", activity: @activity, default_options: @default_options %>
      <hr>
      <%= render "activity_stream", activity: @activity %>
    </div>
  </div>
</section>