<div class="modal fade" id="sharing-modal" tabindex="-1" role="dialog" aria-labelledby="sharing-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sharing-modal-label">Sharing Reports</h4>
      </div>
      <div class="modal-body">
        Sharing a report makes it available on the public internet at the URL provided. The link will expire in one month.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to "Continue", share_url, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>