<section>
  <div class="container">
    <div class="row">
      <%= render "tables/stories_table", label: "Done stories", results: @results %>
    </div>
  </div>
</section>
<hr />
<section>
  <%= render "charts/yesterdays_weather_charts" %>
</section>
<hr />
<section>
  <div class="container">
    <div class="row">
      <%= render "charts/long_term_trend_chart" %>
    </div>
  </div>
</section>